.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    width: 70%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}