.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    background: #FDEABF;
    border-radius: 20px;
}

.result img {
    width: 200px;
    
}

.result__left {
    display: flex;
    align-items: center;
}

.result__left__text {
    margin-left: 1rem;
}

.result__left__text h1 {
    margin-bottom: 0;
}

.result__left__text h2 {
    margin-top: 0;
    font-size: 1rem;
    color: rgb(129, 129, 128);
    font-weight: 300;
}

.result__year {
    font-weight: 700;
}
