@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    width: 70%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.results-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}